
.heading
{

font-size: 35px;
width: 100%;
margin: 0px;
background-color:green;
}

#status
{
font-size: 18px;
}

body{
    background-size: cover;
    background-position: center;
}

a{
width:150px;
}